---
baz: {{ get_parameter('baz') }}
foo: {{ get_parameter('foo') }}
values:{% for value in get_parameter('values', []) %}
  - {{ value }}
{%- endfor %}
password: {{ get_parameter('/other-application/key') }}
